/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    nav button {display: none;}

    nav ul.hide {display: block;}

    nav ul {margin-left: 2%;}

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba (0,0,0,0.3):
        padding: .8rem 1rem;
    }

    header {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header img {
        width: 180px;
    }

    .headings {
        display: flex;
        flex-direction: column;
    }

    .headings h1 {
        font-size: 3rem;
    }

    .motto: {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    



} /*end medium */


