@import url("https://fonts.googleapis.com/css2?family=Castoro&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Source+Code+Pro&display=swap");

body {
    font-family: "Castoro", "Playfair Display", serif;
    font-size: 18px;
    background-color: #8B9EB7;
    color: black;
    line-height: 1.8;
    padding: 1rem;
    margin: 0;
}
/* phone or baseline views 
**************************/

header {
    background-color: #632A50;
    padding: 5px 0
    font-size: 18px;
    width: 100%
    text-align: center;
    align-items: center;
    justify-content: center;
}

header img {
    width: 80px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 1.6rem;
    font-family: 'Krona One', 'Courier New', sans-serif;
    margin: 0 0 0 17px;

}

.motto {
    font-style: italic;
    letter-spacing: 1pt;
    color: #8B9EB7;
    margin-left: 20px;
    font-size: .9rem;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: black;
}
nav {
    background-color: #f1f1f6;
    font-family: 'Krona One', 'Courier New', sans-serif;
    font-size: .8rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba (0,0,0,0.3);
}

nav ul li a:hover {background-color: #8B9EB7;}

nav ul li .active {
    color:#632A50;
}

nav ul.hide {display: none;}

.menu {
    text-align: center;
}


main {
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 840px;
}

h2 {
    text-align: center;
    color: #632A50;
}

.contentbox {
    display: block;
    margin: 3px;
    font-size: 1.1rem;
    background-color: #f1f1f6;
    border: #632A50;
    border-radius: .5rem;
    border-style: solid;
    padding: 15px;
}

footer {
    background-color: #632A50;
    color: #8B9EB7;
    max-width: 840px;
    margin: 0 auto;
    padding: 2px;
    }
    
    footer p {
        text-align: center;
        font-size: 1.1rem;
    }
    
    .link {
        color:#8b9eb7;
    }

    /*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
