@import url("https://fonts.googleapis.com/css2?family=Castoro&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Source+Code+Pro&display=swap");

body {
    font-family: "Castoro", "Playfair Display", serif;
    font-size: 16px;
    background-color: #8B9EB7;
    color: black;
    margin: irem auto;
}

h1 {
    font-family: 'Krona One', 'Courier New', sans-serif;
    font-size: 2.5rem;
    margin: 0 0 0 17px;
    color: #632A50;
    text-align: center;
    padding: 2rem;
}

h2 {
    color: #632A50;
}

.cards {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    margin: 2rem;
    border: 10px solid lightgray;
    box-shadow: 0 0 20px gray;

}

.cards section {
    border: 3px solid gray;
    margin: .5rem;
    padding: 20px; 
    margin: 5px;
    background-color: #f1f1f6;
}

img {
    margin: 0.5rem;
    box-shadow: 0 0 30px black;
    max-width: 100%;
}

footer {
    margin: 5rem;
    text-align: center;
    color: #632a50;
}

@media only screen and (min-width: 700px) {

    .cards {
        display: grid;
        grid-template-columns: auto auto;
    }

}

@media only screen and (min-width: 1280px) {

    .cards {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}


