@import url("https://fonts.googleapis.com/css2?family=Castoro&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Source+Code+Pro&display=swap");

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-family: "Castoro", "Playfair Display", serif;
    font-size: 18px;
    background-color: #EBF2FA;
    color: black;
    line-height: 1.5;
    padding: 0.5rem;
    margin: 0;
}
/* phone or baseline views 
**************************/

.alert {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #FEC5BB;
    font-size: 1.2rem;
    padding: 0.8rem;
    margin: 0.5rem 0;
}

header {
    background-color: #EBF2FA;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    width: 100%;
}

header img {
    width: 200px;
}

.headings h1 {
    font-size: 1.8rem;
    font-family: 'Krona One', 'Courier New', sans-serif;
    margin: 0 0 0 17px;
    color: black;

}

.motto {
    letter-spacing: 1pt;
    color: black;
    margin-left: 20px;
    font-size: .9rem;
}

/*-------------Navigation------------------*/

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: black;
}

nav a {
    font-size: 1.1rem;
    padding: 5px;
}

nav Menu {
    font-size: 1rem;
}
 
nav {
    background-color: #09ACEC;
    font-family: 'Krona One', 'Courier New', sans-serif;
    font-size: .8rem;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: .5rem 2%;
    text-decoration: none;
    color: black;
    border-top: 2px solid #111;
}

nav ul li a:hover {background-color: #8B9EB7;}

nav ul li .active {
    color:#FEC5BB;
}

nav ul.hide {display: none;}

.menu {
    text-align: center;
}

/*-----------------Main------------------*/

main {
    margin: 0 auto;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 840px;
}

h2 {
    text-align: center;
    color: black;
}

.herodiv {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.herodiv img {
    max-width: 840px;
}

.action {
    width: 350px;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto;
    top: 20px;
    left: 20px;
    padding: 20px;
    border: 1px solid black;
    background: radial-gradient(#eee, #adc417);
	box-shadow: 0 0 30px #111;
    opacity: 0.7;
}

.button {
    font: bold 20px Arial;
    text-decoration: none;
    background-color: #ebf2fa;
    color: black;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }

.weathersummary {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 15px;
    margin: 20px;
    padding: .4rem .4rem .2rem .4rem;
    border: 1px solid black;
    background: radial-gradient(#eee, #adc417);
	box-shadow: 0 0 30px #111;
    opacity: .8;
}

/*----------------.cards---------------*/

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    text-align: center;
    margin: 2rem;
    border: 10px solid lightgray;
    box-shadow: 0 0 20px gray;
    font-size: 15px;

}

.cards section {
    border: 3px solid gray;
    margin: .5rem;
    padding: 20px; 
    margin: 5px;
    background-color: #FEC5BB;
}

/*.cards img {
    margin: 0.5rem;
    box-shadow: 0 0 30px black;
    max-width: 100%;
}*/

.cards h2 {
    color: black;
}

/*--------------article--------------*/

.article {
    padding: 0.5rem;
}

.article img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 0 0 20px #111;
}
 
.article_text {
    color: black;
}

/*------------------contact------------------*/

.contactinfo {
    color: black;
    text-align: center;
    padding: 3rem;
    background-color: #09acec;
    margin: .5rem;
    border: 1px solid #333333;
    max-width: auto;
}

.contactinfo h3 {
    text-decoration: underline;
}

.social img {
    max-width: 50px;
    padding: 0.5rem;
}


/*-------------Form-------------------*/
form {
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
  }
    
  form fieldset {
    margin: 0.5rem;
    border: 2px solid #01395a;
    border-radius: 5px;
    padding: 0.5rem 2%;
  }  
  form legend {
    color: #01395a;
    margin: 0 1rem;
    padding: 0 0.5rem;
    font-size: 1.5rem;
  }
  form label.top, form div {
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
}

form label.top input, 
form label.top datalist,
form label select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form label input:required {
    border-left: #09acec solid 6px;
}

form label input:required:valid {
    border-left: #FEC5BB solid 6px;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: black;
}

#ratingvalue {
    color: #632a50;
    font-size: 1rem;
}

 .comment textarea {
     display: block;
     width: 100%;
     height: 4rem;
     max-width: 20rem;
     border-radius: 4px;
 }
form input.submitBtn {
    border: none;
    background-color: #09acec;
    color:black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

  
/*-------------Footer-----------------*/

footer {
    background-color: #09acec;
    color: black;
    margin: 0 auto;
    padding: 2px;
    }
    
    footer p {
        text-align: center;
        font-size: 1.1rem;
    }
    
    .link {
        color:#fec5bb;
    }

    .link2 {
        color:white;
        font-weight: bolder;
    }

    /*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }