@import url("https://fonts.googleapis.com/css2?family=Castoro&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Source+Code+Pro&display=swap");

body {
    max-width: 960px;
    font-family: "Castoro", "Playfair Display", serif;
    font-size: 18px;
    background-color: #8B9EB7;
    color: black;
    margin: auto;
    line-height: 1.8;
    text-align: center;
    padding: 1rem;
}
/* phone or baseline views 
**************************/

main {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

nav {
	background-color: #F1F1F6;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color:#632A50;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 20px;
}
nav a:hover {
	color: #2198E8;
}

header {
    font-size: 20px;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Krona One', 'Courier New', sans-serif;
}

hi, h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

p {
    text-align: left;
}

picture {
    align: left;
}

.page4 {
    text-align: left;
}

.PColor {
    background-color: black;
    color: #8B9EB7;
}

.SColor {
    background-color: black;
    color: #632A50;
}

.AColor1 {
    background-color: black;
    color: #F1F1F6;
}

.AColor2 {
    background-color: black;
    color: #2198E8;
}

footer {
background-color: #F1F1F6;
color: #632A50;
}

footer p {
    text-align: center;
}

.link {
    color: #632A50;
}

